<div class="page-page">
  <div class="card-container">
    {{#cardstack-search query=(hash type="recipes") as |item|}}
      {{cardstack-content content=item format="card"}}
    {{/cardstack-search}}
  </div>
</div>