<div class="page-page">
  {{input value=userTerm type="text"}}
  <div class="card-container">
    {{#cardstack-search query=(build-query type="recipes" q=userTerm) as |item|}}
      {{cardstack-content content=item format="card"}}
    {{/cardstack-search}}
  </div>
</div>